# Django Configuration
# ===================================


# These environment variables only needed for production
# for production set DJANGO_ENV=production
DJANGO_ENV=production
SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=true
WEBSITE_HOSTNAME=localhost
ALLOWED_HOSTS=localhost,dragonfly.jitendra.me
CORS_ALLOWED_ORIGINS=https://dragonfly.jitendra.me,http://localhost:3000

# production database configuration
DATABASE_URL=put-the-database-url-here

# Google OAuth
GOOGLE_CLIENT_ID=dummy-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=dummy-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback
