<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7d1113a0df.js" crossorigin="anonymous"></script>
    <script>
        // here i will unpack the env_var dict from the context
        var env_var = {
            {% for key, value in env_var.items %}
                "{{ key }}": "{{ value|safe }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        };

        // Function to get the CSRF token from cookies
        function getCookie(name) {
            let cookieValue = null
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';')
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim()
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
                        break
                    }
                }
            }
            return cookieValue
        }
    </script>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <script type="module" src="{% static 'js/base.js' %}"></script>
</body>
</html>
