{% extends "base.html" %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div id="forgot-password-container" class="signbox">
    <div class="success-drop-down"></div>
    <div class="signbox-inner">
        <div class="signbox-left">
            <div class="signbox-left-inner">
                <img src="{% static '/images/dora-the-explorer.png' %}" alt="">
            </div>
        </div>
        <div class="signbox-right">
            <div class="signbox-right-inner">
                <h2>Reset Password</h2>
                <form id="forgot-password-form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <button type="submit" class="submit-btn">Send OTP</button>
                </form>
                <form id="reset-password-form" method="post" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="text" id="otp" name="otp" placeholder="OTP" required>
                    <input type="password" id="new-password" name="new-password" placeholder="New Password" required>
                    <button type="submit" class="submit-btn">Reset Password</button>
                </form>
                <div class="error-message"></div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="{% static 'js/forgot_password.js' %}"></script>
{% endblock %}
