{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="navbar">
    <div class="cont">
        <div class="left-list">
            <ul>
                <li class="one"><i class="fas fa-bars"></i></li>
            </ul>
        </div>
        <div class="right-list">
            <ul>
                <li class="user-profile"><i class="fas fa-user"></i></li>
            </ul>
        </div>
    </div>
</div>
<div class="app">
    <div class="sidebar">
        <div class="header">
            <!-- <button id="sidebar-toggle">|||</button> -->
            <h3>Chat App</h3>
            <button id="new-message-btn"><i class="fas fa-plus"></i></button>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search..." />
        </div>
        <div class="chat-list">
            <ul>
                <li class="chat-item">
                    <div class="chat-item-content">
                        <div class="chat-item-profile"></div>
                        <div class="chat-item-details">
                            <h4>Dragonfly</h4>
                            <p>dragonfly@jitendra.me</p>
                        </div>
                    </div>
                    <div class="chat-item-time">12:00 PM</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mainbox">
        <div class="welcome-page">
            <!-- this would be welcome page with dragonfly icon -->
            <div class="img-holder">
                <img src="/static/images/dragonfly-icon-200.png" alt="Dragonfly App icon" class="profile-pic">
            </div>
            <h2>Welcome to Dragonfly</h2>
            <p>Chat with your friends and family</p>
        </div>
        <div class="chat-header">
            <div class="chat-header-profile"></div>
            <div class="chat-header-details">
                <h4>Dragonfly</h4>
                <p>dragonfly.jitendra.me</p>
            </div>
            <div class="chat-header-options">
                <button><i class="fas fa-ellipsis-h"></i></button>
            </div>
        </div>
        <div class="chat-body">
            <div class="chat-message chat-message-received">
                <div class="chat-message-profile"></div>
                <div class="chat-message-content">
                    <p>Welcome to Dragonfly :) </p>
                </div>
            </div>
            <div class="chat-message chat-message-received">
                <div class="chat-message-profile"></div>
                <div class="chat-message-content">
                    <p>
                        Happy Chating :)
                    </p>
                </div>
            </div>
            <div class="chat-message chat-message-sent">
                <div class="chat-message-profile"></div>
                <div class="chat-message-content">
                    <p>You can not send message in this chat. </p>
                </div>
            </div>

        </div>
        <div class="chat-footer">
            <textarea placeholder="Type your message here..." id="message-box"></textarea>
            <button id="chat-msg-send-btn"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>

<!-- Modal for sending message to new user -->
<div id="new-message-modal" class="modal">
    <div class="modal-content">
        <div>
            <span class="close"><i class="fas fa-times"></i></span>
            <h2>Send Message</h2>
        </div>
        <select id="user-select">
            <option value="">Select User</option>
        </select>
        <textarea id="new-message-content" rows="4" placeholder="Type your message here..."></textarea>
        <button id="send-new-message-btn"><i class="fas fa-paper-plane"></i> Send</button>
    </div>
</div>

<script type="module" src="{% static 'js/home.js' %}"></script>
<script type="module" src="{% static 'js/app_states.js' %}"></script>
{% endblock %}