{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="mask toggle-magic-sidebar"></div>

<div class="magic-sidebar">
    <div class="magic-sidebar-header">
        <img src="/static/images/dragonfly-icon-200.png" alt="Profile Picture" class="profile-pic">
        <div class="user-info">
            <p id="username">@username</p>
            <span class="logout button" id="logout-button"><i class="fas fa-sign-out-alt"></i> Logout</span>
        </div>
    </div>
    <ul class="magic-sidebar-menu"><!--
        <li class="magic-sidebar-item"><i class="fas fa-user"></i> My Profile</li>
        <li class="magic-sidebar-item"><i class="fas fa-users"></i> New Group</li>
        <li class="magic-sidebar-item"><i class="fas fa-bullhorn"></i> New Channel</li>
        <li class="magic-sidebar-item"><i class="fas fa-address-book"></i> Contacts</li>
        <li class="magic-sidebar-item"><i class="fas fa-phone"></i> Calls</li>
        <li class="magic-sidebar-item"><i class="fas fa-save"></i> Saved Messages</li>
        <li class="magic-sidebar-item"><i class="fas fa-cog"></i> Settings</li>
        <li class="magic-sidebar-item">
            <i class="fas fa-moon"></i> Night Mode
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </li>-->
    </ul>
    <div class="magic-sidebar-footer">
        <p>Dragonfly</p>
        <p>Version 1.0.0 - Beta</p>
    </div>
</div>

<div class="app">
    <div class="sidebar">
        <div class="header">
            <span class="button toggle-magic-sidebar"><i class="fas fa-bars"></i></span>
            <h3>Chat App</h3>
            <button id="new-message-btn" class="button"><i class="fas fa-plus"></i></button>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search..." />
        </div>
        <div class="chat-list">
            <ul>
                <li class="chat-item">
                    <div class="chat-item-content">
                        <div class="chat-item-profile"></div>
                        <div class="chat-item-details">
                            <h4>Dragonfly</h4>
                            <p>dragonfly@jitendra.me</p>
                        </div>
                    </div>
                    <div class="chat-item-time">12:00 PM</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mainbox">
        <div class="welcome-page">
            <!-- this would be welcome page with dragonfly icon -->
            <div class="img-holder">
                <img src="/static/images/dragonfly-icon-200.png" alt="Dragonfly App icon" class="profile-pic">
            </div>
            <h2>Welcome to Dragonfly</h2>
            <p>Chat with your friends and family</p>
        </div>
        <div class="chat-header">
            <div class="back-to-contact-list button">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="chat-header-profile"></div>
            <div class="chat-header-details">
                <h4>Dragonfly</h4>
                <p>dragonfly.jitendra.me</p>
            </div>
            <div class="chat-header-options">
                <button><i class="fas fa-ellipsis-h"></i></button>
            </div>
        </div>
        <div class="chat-body">
            <div class="chat-message chat-message-received">
                <div class="chat-message-profile"></div>
                <div class="chat-message-content">
                    <p>Welcome to Dragonfly :) </p>
                </div>
            </div>
            <div class="chat-message chat-message-received">
                <div class="chat-message-profile"></div>
                <div class="chat-message-content">
                    <p>
                        Happy Chating :)
                    </p>
                </div>
            </div>
            <div class="chat-message chat-message-sent">
                <div class="chat-message-profile"></div>
                <div class="chat-message-content">
                    <p>You can not send message in this chat. </p>
                </div>
            </div>

        </div>
        <div class="chat-footer">
            <textarea placeholder="Type your message here..." id="message-box"></textarea>
            <button id="chat-msg-send-btn"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>

<!-- Modal for sending message to new user -->
<div id="new-message-modal" class="modal">
    <div class="modal-content">
        <div>
            <span class="close"><i class="fas fa-times"></i></span>
            <h2>Send Message</h2>
        </div>
        <select id="user-select">
            <option value="">Select User</option>
        </select>
        <textarea id="new-message-content" rows="4" placeholder="Type your message here..."></textarea>
        <button id="send-new-message-btn"><i class="fas fa-paper-plane"></i> Send</button>
    </div>
</div>

<script type="module" src="{% static 'js/home.js' %}"></script>
<script type="module" src="{% static 'js/app_states.js' %}"></script>
{% endblock %}