<html>
    <head>
        <title> dragonfly API index </title>
    </head>
    <body>
        <h1>Welcome to the dragonfly API</h1>
        <h2> here are the available endpoints </h2>
        <ul>
            <li>
                <a href="{% url 'auth_token_obtain_pair' %}">api/v2/auth/token/</a> fake endpoint
            </li>
            <li>
                <a href="{% url 'auth_token_refresh' %}">api/v2/auth/token/refresh/</a> fake endpoint
            </li>
        </ul>
    </body>
</html>