<html>
    <head>
        <title> dragonfly API index </title>
    </head>
    <body>
        <h1>Welcome to the dragonfly API</h1>
        <h2> here are the available endpoints </h2>
        <ul>
            <li><a href="{% url 'rest_login' %}">POST /dj-rest-auth/login/</a> Login</li>
            <li><a href="{% url 'rest_logout' %}">POST /dj-rest-auth/logout/</a> Logout</li>
            <li><a href="{% url 'rest_user_details' %}">GET /dj-rest-auth/user/</a> User Details</li>
        </ul>
    </body>
</html>